







.services-section{
	position:relative;
	padding:110px 0px 90px;
}

.service-block-two{
	position:relative;
	margin-bottom:30px;
}

.service-block-two .inner-box{
	position:relative;
	text-align:center;
	padding:20px 20px;
	border:2px solid #e9efff;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.service-block-two .inner-box:hover{
	border-color:#fa464a;
}

.service-block-two .inner-box .content{
	position:relative;
	padding-top:50px;
	padding-bottom:30px;
}

.service-block-two .inner-box .content:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background-image: -ms-linear-gradient(top, #F9FBFF 0%, #ffffff 100%);
	background-image: -moz-linear-gradient(top, #F9FBFF 0%, #ffffff 100%);
	background-image: -o-linear-gradient(top, #F9FBFF 0%, #ffffff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9FBFF), color-stop(100, #ffffff));
	background-image: -webkit-linear-gradient(top, #F9FBFF 0%, #ffffff 100%);
	background-image: linear-gradient(to bottom, #F9FBFF 0%, #ffffff 100%);
}

.service-block-two .inner-box .icon-outer{
	position:relative;
	display:inline-block;
}

.service-block-two .inner-box .icon-outer:before{
	position:absolute;
	left:50%;
	top:-10px;
	content:'';
	width:20px;
	height:110px;
	margin-left:-10px;
	border-radius:50px;
	background-image: -ms-linear-gradient(left, #F65052 0%, #fe7d48 100%);
	background-image: -moz-linear-gradient(left, #F65052 0%, #fe7d48 100%);
	background-image: -o-linear-gradient(left, #F65052 0%, #fe7d48 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F65052), color-stop(100, #fe7d48));
	background-image: -webkit-linear-gradient(left, #F65052 0%, #fe7d48 100%);
	background-image: linear-gradient(to right, #F65052 0%, #fe7d48 100%);
}

.service-block-two .inner-box .icon-outer .icon-box{
	position:relative;
	width:90px;
	height:90px;
	line-height:90px;
	border-radius:50%;
	display:inline-block;
	background-color:#ffffff;
}

.service-block-two .inner-box .icon-outer .icon-box .icon{
	position:relative;
	color:#fa474a;
	font-size:48px;
	background: linear-gradient(to top, #fa474a 0%, #ff7a43 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-section .service-block-two:first-child .inner-box .icon-outer .icon-box .icon{
	padding-left:10px;
}

.service-block-two .inner-box h2{
	position:relative;
	font-weight:600;
	line-height:1.2em;
	margin-top:35px;
	font-family: 'Poppins', sans-serif;
}

.service-block-two .inner-box h2 a{
	position:relative;
	color:#19274d;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.service-block-two .inner-box h2 a:hover{
	color:#f75251;
}

.service-block-two .inner-box .text{
	position:relative;
	font-weight:400;
	line-height:1.9em;
	margin-top:15px;
	color:#19274d;
	font-size:16px;
	padding:0px 25px;
	margin-bottom:20px;
}

.service-block-two .inner-box .read-more{
	position:relative;
	font-weight:700;
	font-size:16px;
	color:#fa454a;
	background: -webkit-linear-gradient(45deg, #fa454a, #ff9167 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





.featured-section-two{
	position:relative;
	padding-bottom:80px;
}

.featured-section-two.style-two{
	padding-top:110px;
}

.featured-section-two .inner-container{
	position:relative;
	padding-top:110px;
	border-top:1px solid #ffd0cb;
}

.feature-block-two{
	position:relative;
	margin-bottom:30px;
}

.feature-block-two .inner-box{
	position:relative;
	padding:28px 34px;
	border-radius:7px;
	border:2px solid #fff1f1;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.feature-block-two .inner-box .upper-box{
	position:relative;
	padding-left:50px;
}

.feature-block-two .inner-box .upper-box .icon{
	position:absolute;
	left:0px;
	top:1px;
	font-size:24px;
	line-height:1em;
	color: #fa474a;
    line-height: 1em;
    background: linear-gradient(to top, #fa474a 0%, #ff7a43 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.feature-block-two .inner-box .upper-box h5{
	position:relative;
	font-size:20px;
	font-weight:600;
	line-height:1.3em;
	font-family: 'Poppins', sans-serif;
}

.feature-block-two .inner-box .upper-box h5 a{
	position:relative;
	color:#19274d;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.feature-block-two .inner-box .text{
	position:relative;
	color:#19274d;
	font-size:16px;
	margin-top:12px;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.feature-block-two .inner-box .arrow{
	position:absolute;
	right:0px;
	top:2px;
	color:#c4cee9;
	font-size:20px;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}

.feature-block-two .inner-box:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	height:100%;
	width:0%;
	border-radius:7px;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
	background-image: -ms-linear-gradient(left, #fa464a 0%, #ff7a43 100%);
	background-image: -moz-linear-gradient(left, #fa464a 0%, #ff7a43 100%);
	background-image: -o-linear-gradient(left, #fa464a 0%, #ff7a43 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #fa464a), color-stop(100, #ff7a43));
	background-image: -webkit-linear-gradient(left, #fa464a 0%, #ff7a43 100%);
	background-image: linear-gradient(to right, #fa464a 0%, #ff7a43 100%);
}

.feature-block-two .inner-box:hover{
	
}

.feature-block-two .inner-box:hover::before{
	width:100%;
}

.feature-block-two .inner-box:hover .upper-box .icon{
	color:#ffffff;
	background:none;
	-webkit-text-fill-color: inherit;
}

.feature-block-two .inner-box:hover .arrow,
.feature-block-two .inner-box:hover .text,
.feature-block-two .inner-box:hover .upper-box h5 a{
	color:#ffffff;
}

.feature-block-two .inner-box .big-icon{
	position:absolute;
	right:0px;
	bottom:-10px;
	font-size:80px;
	line-height:1em;
	color:rgba(255,255,255,0.10);
}




.featured-section-seven{
	position:relative;
	padding:110px 0px 80px;
	background-color:#f9f8ff;
}

.feature-block-seven{
	position:relative;
	margin-bottom:30px;
}

.feature-block-seven .inner-box{
	position:relative;
	padding:45px 30px;
	border-radius:5px;
	background-color:#ffffff;
}

.feature-block-seven .inner-box .number{
	position:absolute;
	right:-10px;
	top:-16px;
	color:#f9f8ff;
	font-size:120px;
	line-height:1em;
	font-weight:600;
	font-family: 'Poppins', sans-serif;
}

.feature-block-seven .inner-box .icon-box{
	position:relative;
}

.feature-block-seven .inner-box .icon-box .icon{
	position:relative;
	color: #fa474a;
    line-height: 1em;
	font-size:30px;
    background: linear-gradient(to top, #fa474a 0%, #ff7a43 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-block-seven .inner-box h5{
	position:relative;
	color:#19274d;
	font-weight:600;
	line-height:1.3em;
	margin-top:18px;
	font-family: 'Poppins', sans-serif;
}

.feature-block-seven .inner-box .text{
	position:relative;
	color:#19274d;
	font-weight:400;
	line-height:1.8em;
	margin-top:12px;
}

