







.services-section{
	position:relative;
	padding:110px 0px 90px;
}

.service-block-two{
	position:relative;
	margin-bottom:30px;
}

.service-block-two .inner-box{
	position:relative;
	text-align:center;
	padding:20px 20px;
	border:2px solid #e9efff;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.service-block-two .inner-box:hover{
	border-color:#fa464a;
}

.service-block-two .inner-box .content{
	position:relative;
	padding-top:50px;
	padding-bottom:30px;
}

.service-block-two .inner-box .content:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	background-image: -ms-linear-gradient(top, #F9FBFF 0%, #ffffff 100%);
	background-image: -moz-linear-gradient(top, #F9FBFF 0%, #ffffff 100%);
	background-image: -o-linear-gradient(top, #F9FBFF 0%, #ffffff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9FBFF), color-stop(100, #ffffff));
	background-image: -webkit-linear-gradient(top, #F9FBFF 0%, #ffffff 100%);
	background-image: linear-gradient(to bottom, #F9FBFF 0%, #ffffff 100%);
}

.service-block-two .inner-box .icon-outer{
	position:relative;
	display:inline-block;
}

.service-block-two .inner-box .icon-outer:before{
	position:absolute;
	left:50%;
	top:-10px;
	content:'';
	width:20px;
	height:110px;
	margin-left:-10px;
	border-radius:50px;
	background-image: -ms-linear-gradient(left, #F65052 0%, #fe7d48 100%);
	background-image: -moz-linear-gradient(left, #F65052 0%, #fe7d48 100%);
	background-image: -o-linear-gradient(left, #F65052 0%, #fe7d48 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #F65052), color-stop(100, #fe7d48));
	background-image: -webkit-linear-gradient(left, #F65052 0%, #fe7d48 100%);
	background-image: linear-gradient(to right, #F65052 0%, #fe7d48 100%);
}

.service-block-two .inner-box .icon-outer .icon-box{
	position:relative;
	width:90px;
	height:90px;
	line-height:90px;
	border-radius:50%;
	display:inline-block;
	background-color:#ffffff;
}

.service-block-two .inner-box .icon-outer .icon-box .icon{
	position:relative;
	color:#fa474a;
	font-size:48px;
	background: linear-gradient(to top, #fa474a 0%, #ff7a43 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-section .service-block-two:first-child .inner-box .icon-outer .icon-box .icon{
	padding-left:10px;
}

.service-block-two .inner-box h2{
	position:relative;
	font-weight:600;
	line-height:1.2em;
	margin-top:35px;
	font-family: 'Poppins', sans-serif;
}

.service-block-two .inner-box h2 a{
	position:relative;
	color:#19274d;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.service-block-two .inner-box h2 a:hover{
	color:#f75251;
}

.service-block-two .inner-box .text{
	position:relative;
	font-weight:400;
	line-height:1.9em;
	margin-top:15px;
	color:#19274d;
	font-size:16px;
	padding:0px 25px;
	margin-bottom:20px;
}

.service-block-two .inner-box .read-more{
	position:relative;
	font-weight:700;
	font-size:16px;
	color:#fa454a;
	background: -webkit-linear-gradient(45deg, #fa454a, #ff9167 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




