
.contact-page-section{
	position:relative;
	padding:110px 0px 80px;
}

.contact-page-section .info-column{
	position:relative;
	margin-bottom:40px;
}

.contact-page-section .info-column .inner-column{
	position:relative;
	padding-right:70px;
}

.contact-page-section .info-column .sec-title .text{
	margin-top:5px;
}

.contact-page-section .info-column .contact-info{
	position:relative;
}

.contact-page-section .info-column .contact-info li{
	position:relative;
	color:#19274d;
	font-weight:600;
	font-size:24px;
	padding-left:110px;
	min-height:80px;
	padding-top:8px;
	margin-bottom:22px;
	line-height:1.4em;
}

.contact-page-section .info-column .contact-info li .icon{
	position:absolute;
	left:0px;
	top:0px;
	width:80px;
	height:80px;
	border-radius:50%;
	background-color:#ffffff;
	box-shadow:0px 10px 10px rgba(28,158,225,0.10);
}

.contact-page-section .info-column .contact-info li i{
	position:relative;
	color:#7da3ac;
	font-size:14px;
	font-weight:700;
	font-style:normal;
	display:block;
	margin-bottom:0px;
}

.contact-page-section .info-column .contact-info li:last-child{
	margin-bottom:0px;
}

.contact-page-section .form-column{
	position:relative;
	margin-bottom:40px;
}

.contact-page-section .form-column .inner-column{
	position:relative;
	padding:60px 60px 60px;
	box-shadow:0px 10px 22px rgba(250,71,74,0.05);
}

/* Contact Form */

.contact-form{
	position:relative;
}

.contact-form .form-group{
	position:relative;
	margin-bottom:20px;
}

.contact-form .form-group .icon{
	position:absolute;
	right:20px;
	top:22px;
	color:#fa4a49;
	font-size:16px;
	line-height:1em;
	font-weight:400;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form select,
.contact-form textarea{
	display:block;
	width:100%;
	line-height:28px;
	height:56px;
	font-size:16px;
	padding:8px 30px;
	color:#19274d;
	border-radius:0px;
	background-color:#fffafa;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.contact-form .form-group textarea::-webkit-input-placeholder,
.contact-form .form-group input::-webkit-input-placeholder{
	color:#19274d;
}

.contact-form textarea{
	height:170px;
	resize:none;
	font-size:15px;
	padding-top:18px;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="password"]:focus,
.contact-form select:focus,
.contact-form textarea:focus{
	border-color:#ffc108;
}

.contact-form .theme-btn{
	cursor:pointer;
	padding:15px 57px;
	box-shadow:0px 0px 15px rgba(250,70,74,0.15);
}

.map-section{
	padding-bottom:90px;
}
