
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
  
    <!--End Main Header -->
	
	
    <!-- End Page Title -->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Content Side -->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                	<div class="blog-classic">
						
						<!-- News Block Five -->
						<div class="news-block-five">
							<div class="inner-box">
								<div class="image">
									<a href="blog-detail.html"><img src="assets/resource/news-7.jpg" alt="#" /></a>
								
								</div>
								<div class="lower-content">
									<div class="category">Business</div>
									<h2><a href="blog-detail.html">Lorem ipsum dolor sit amet, consecte cing elit, sed do eiusmod tempor.</a></h2>
									<ul class="post-meta">
										<li><span class="icon far fa-eye"></span>232 Views</li>
										<li><span class="icon far fa-comments"></span>35 Comments</li>
										<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
									</ul>
									<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
									<div class="clearfix">
										<div class="pull-left">
											<div class="post-author">
												<div class="author-image"><img src="assets/resource/author-10.jpg" alt="" /></div>
												by Hetmayar
											</div>
										</div>
										<div class="pull-right">
											<a class="read-more" href="blog-detail.html"><span class="arrow flaticon-arrow-pointing-to-right"></span> Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- News Block Five -->
						<div class="news-block-five">
							<div class="inner-box">
								<div class="image">
									<img src="assets/resource/news-8.jpg" alt="" />
									<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="icon flaticon-play-arrow"><i class="ripple"></i></span></a>
								</div>
								<div class="lower-content">
									<div class="category">Business</div>
									<h2><a href="blog-detail.html">Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</a></h2>
									<ul class="post-meta">
										<li><span class="icon far fa-eye"></span>232 Views</li>
										<li><span class="icon far fa-comments"></span>35 Comments</li>
										<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
									</ul>
									<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
									<div class="clearfix">
										<div class="pull-left">
											<div class="post-author">
												<div class="author-image"><img src="images/resource/author-10.jpg" alt="" /></div>
												by Hetmayar
											</div>
										</div>
										<div class="pull-right">
											<a class="read-more" href="blog-detail.html"><span class="arrow flaticon-arrow-pointing-to-right"></span> Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- News Block Five -->
						<div class="news-block-five">
							<div class="inner-box">
								<div class="news-carousel owl-carousel owl-theme">
									<div class="image">
										<img src="images/resource/news-9.jpg" alt="" />
									</div>
									<div class="image">
										<img src="images/resource/news-9.jpg" alt="" />
									</div>
									<div class="image">
										<img src="images/resource/news-9.jpg" alt="" />
									</div>
								</div>
								<div class="lower-content">
									<div class="category">Business</div>
									<h2><a href="blog-detail.html">Magna aliqua. Ut enim ad minim, quis nostrud exercitation ullamco</a></h2>
									<ul class="post-meta">
										<li><span class="icon far fa-eye"></span>232 Views</li>
										<li><span class="icon far fa-comments"></span>35 Comments</li>
										<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
									</ul>
									<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
									<div class="clearfix">
										<div class="pull-left">
											<div class="post-author">
												<div class="author-image"><img src="images/resource/author-10.jpg" alt="fgh" /></div>
												by Hetmayar
											</div>
										</div>
										<div class="pull-right">
											<a class="read-more" href="blog-detail.html"><span class="arrow flaticon-arrow-pointing-to-right"></span> Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- News Block Five -->
						<div class="news-block-five">
							<div class="inner-box">
								<div class="soundcloud">
									<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&amp;color=0066cc"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/the-bugle" title="The Bugle" target="_blank" style="color: #cccccc; text-decoration: none;">The Bugle</a> · <a href="https://soundcloud.com/the-bugle/bugle-179-playas-gon-play" title="Bugle 179 - Playas gon play" target="_blank" style="color: #cccccc; text-decoration: none;">Bugle 179 - Playas gon play</a></div>
								</div>
								<div class="lower-content">
									<div class="category">Business</div>
									<h2><a href="blog-detail.html">Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</a></h2>
									<ul class="post-meta">
										<li><span class="icon far fa-eye"></span>232 Views</li>
										<li><span class="icon far fa-comments"></span>35 Comments</li>
										<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
									</ul>
									<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
									<div class="clearfix">
										<div class="pull-left">
											<div class="post-author">
												<div class="author-image"><img src="images/resource/author-10.jpg" alt="" /></div>
												by Hetmayar
											</div>
										</div>
										<div class="pull-right">
											<a class="read-more" href="blog-detail.html"><span class="arrow flaticon-arrow-pointing-to-right"></span> Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- News Block Five -->
						<div class="news-block-five style-two">
							<div class="inner-box">
								<div class="lower-content">
									<div class="category">Business</div>
									<h2><a href="blog-detail.html">In reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</a></h2>
									<ul class="post-meta">
										<li><span class="icon far fa-eye"></span>232 Views</li>
										<li><span class="icon far fa-comments"></span>35 Comments</li>
										<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
									</ul>
									<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
									<div class="clearfix">
										<div class="pull-left">
											<div class="post-author">
												<div class="author-image"><img src="images/resource/author-10.jpg" alt="" /></div>
												by Hetmayar
											</div>
										</div>
										<div class="pull-right">
											<a class="read-more" href="blog-detail.html"><span class="arrow flaticon-arrow-pointing-to-right"></span> Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- News Block Six -->
						<div class="news-block-six">
							<div class="inner-box">
								<div class="content">
									<div class="quote flaticon-quote-1"></div>
									<h2><a href="blog-detail.html">Excepteur sint occaecat cupida tat non proident, sunt in.</a></h2>
									<ul class="post-meta">
										<li><span class="icon far fa-eye"></span>232 Views</li>
										<li><span class="icon far fa-comments"></span>35 Comments</li>
										<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- News Block Five / Style Three -->
						<div class="news-block-five style-three">
							<div class="inner-box">
								<div class="lower-content">
									<div class="category">Business</div>
									<h2><a href="blog-detail.html">Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis</a></h2>
									<ul class="post-meta">
										<li><span class="icon far fa-eye"></span>232 Views</li>
										<li><span class="icon far fa-comments"></span>35 Comments</li>
										<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
									</ul>
								</div>
							</div>
						</div>
						
						<!--Post Share Options-->
						<div class="styled-pagination text-center">
							<ul class="clearfix">
								<li class="prev"><a href="#"><span class="fas fa-angle-double-left"></span> </a></li>
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">10</a></li>
								<li class="next"><a href="#"><span class="fas fa-angle-double-right"></span> </a></li>
							</ul>
						</div>
						
					</div>
				</div>
				
				<!-- Sidebar Side -->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">
						<div class="sidebar-inner">
							
							<!-- About Widget -->
							<div class="sidebar-widget about-widget">
								<div class="widget-content">
									<div class="sidebar-title">
										<h5>About Us</h5>
									</div>
									<div class="author-image">
										<img src="images/resource/author-9.jpg" alt="" />
									</div>
									<h6>Hilixer D. Damdoom</h6>
									<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
									<ul class="social-box">
										<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fab fa-twitter"></span></a></li>
										<li><a href="#"><span class="fab fa-behance"></span></a></li>
										<li><a href="#"><span class="fab fa-youtube"></span></a></li>
										<li><a href="#"><span class="fab fa-linkedin"></span></a></li>
									</ul>
								</div>
							</div>
							
							<!-- Search -->
							<div class="sidebar-widget search-box">
								<div class="widget-content">
									<div class="sidebar-title">
										<h5>Search Objects</h5>
									</div>
									<form method="post" action="https://html.themexriver.com/osaas/contact.html">
										<div class="form-group">
											<input type="search" name="search-field" value="" placeholder="Search your keyword..." required>
											<button type="submit"><span class="icon fa fa-search"></span></button>
										</div>
									</form>
								</div>
							</div>
							
							<!-- About Widget -->
							<div class="sidebar-widget popular-posts">
								<div class="widget-content">
									<div class="sidebar-title">
										<h5>Popular Feeds</h5>
									</div>
									<div class="posts-outer">
									
										<!-- Post -->
										<article class="post">
											<figure class="post-thumb"><img src="images/resource/post-thumb-4.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
											<div class="text"><a href="blog-detail.html">Lorem ipsum dolor sit cing elit, sed do.</a></div>
											<div class="post-info">24th March 2020</div>
										</article>
										
										<!-- Post -->
										<article class="post">
											<figure class="post-thumb"><img src="images/resource/post-thumb-5.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
											<div class="text"><a href="blog-detail.html">Lorem ipsum dolor sit cing elit, sed do.</a></div>
											<div class="post-info">24th March 2020</div>
										</article>
										
										<!-- Post -->
										<article class="post">
											<figure class="post-thumb"><img src="images/resource/post-thumb-6.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
											<div class="text"><a href="blog-detail.html">Lorem ipsum dolor sit cing elit, sed do.</a></div>
											<div class="post-info">24th March 2020</div>
										</article>
										
										<!-- Post -->
										<article class="post">
											<figure class="post-thumb"><img src="images/resource/post-thumb-7.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
											<div class="text"><a href="blog-detail.html">Lorem ipsum dolor sit cing elit, sed do.</a></div>
											<div class="post-info">24th March 2020</div>
										</article>
										
									</div>
								</div>
							</div>
							
							<!-- Categories Widget -->
							<div class="sidebar-widget categories-widget">
								<div class="widget-content">
									<div class="sidebar-title">
										<h5>Categories</h5>
									</div>
									
									<ul class="blog-cat">
										<li><a href="#">Business <span>26</span></a></li>
										<li><a href="#">Consultant <span>30</span></a></li>
										<li><a href="#">Creative <span>71</span></a></li>
										<li><a href="#">UI/UX <span>56</span></a></li>
										<li><a href="#">Technology <span>60</span></a></li>
									</ul>
									
								</div>
							</div>
							
							<!-- Social Widget -->
							<div class="sidebar-widget social-widget">
								<div class="widget-content">
									<div class="sidebar-title">
										<h5>Never Miss News</h5>
									</div>
									<ul class="social-box">
										<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fab fa-twitter"></span></a></li>
										<li><a href="#"><span class="fab fa-behance"></span></a></li>
										<li><a href="#"><span class="fab fa-youtube"></span></a></li>
										<li><a href="#"><span class="fab fa-linkedin"></span></a></li>
									</ul>
								</div>
							</div>
							
							<!-- Tweet Widget -->
							<div class="sidebar-widget tweet-widget">
								<div class="widget-content">
									<div class="sidebar-title">
										<h5>Twitter Feeds</h5>
									</div>
									<div class="tweets-outer">
										<!-- Tweet Block -->
										<div class="tweet-block">
											<div class="block-inner">
												<div class="icon fab fa-twitter"></div>
												<div class="text">1</div>
												<div class="tweet-date">November 25, 2018</div>
											</div>
										</div>
										<!-- Tweet Block -->
										<div class="tweet-block">
											<div class="block-inner">
												<div class="icon fab fa-twitter"></div>
												<div class="text">R</div>
												<div class="tweet-date">November 25, 2018</div>
											</div>
										</div>
										<!-- Tweet Block -->
										<div class="tweet-block">
											<div class="block-inner">
												<div class="icon fab fa-twitter"></div>
												<div class="text"></div>
												<div class="tweet-date">November 25, 2018</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Instagram Widget -->
							<div class="sidebar-widget instagram-widget">
								<div class="widget-content">
									<div class="sidebar-title">
										<h5>Instagram Feeds</h5>
									</div>
									<div class="row clearfix">
										<figure class="post-thumb"><img src="images/resource/instagram-1.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
										<figure class="post-thumb"><img src="images/resource/instagram-2.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
										<figure class="post-thumb"><img src="images/resource/instagram-3.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
										<figure class="post-thumb"><img src="images/resource/instagram-4.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
										<figure class="post-thumb"><img src="images/resource/instagram-5.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
										<figure class="post-thumb"><img src="images/resource/instagram-6.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
										<figure class="post-thumb"><img src="images/resource/instagram-7.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
										<figure class="post-thumb"><img src="images/resource/instagram-8.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
										<figure class="post-thumb"><img src="images/resource/instagram-9.jpg" alt=""><a href="blog-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									</div>
								</div>
							</div>
							
							<!-- Tags Widget -->
							<div class="sidebar-widget popular-tags">
								<div class="widget-content">
									<div class="sidebar-title">
										<h5>Popular Tags</h5>
									</div>
									<a href="#">Popular</a>
									<a href="#">desgin</a>
									<a href="#">Ux</a>
									<a href="#">usability</a>
									<a href="#">develop</a>
									<a href="#">icon</a>
									<a href="#">business</a>
									<a href="#">consult</a>
									<a href="#">kit</a>
									<a href="#">keyboard</a>
									<a href="#">mouse</a>
									<a href="#">tech</a>
								</div>
							</div>
							
							<!-- Add Widget -->
							<div class="sidebar-widget add-widget">
								<div class="image">
									<img src="images/resource/add.jpg" alt="" />
								</div>
							</div>
							
						</div>
					</aside>
				</div>
				
			</div>
		</div>
	</div>
	
</div>
<!--End pagewrapper-->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>




<!-- Mirrored from html.themexriver.com/osaas/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jun 2024 16:17:22 GMT -->
