<!-- Main Footer -->
<footer class="main-footer">
    <div class="auto-container">
        <!-- Widgets Section -->
        <div class="widgets-section">
            <div class="row clearfix">
                
                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                    
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Company</h5>
                                <ul class="list-link">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Leadership</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="#">Referral Program</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Legal</a></li>
                                    <li><a href="#">Trust Platform</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Community</h5>
                                <ul class="list-link">
                                    <li><a href="#">Tutorials</a></li>
                                    <li><a href="#">Meetups</a></li>
                                    <li><a href="#">Q&A </a></li>
                                    <li><a href="#">Write for DOnations</a></li>
                                    <li><a href="#">Droplets for Demos</a></li>
                                    <li><a href="#">Hatch Startup Program</a></li>
                                    <li><a href="#">Shop Swag</a></li>
                                    <li><a href="#">Research Program</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                    
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Solutions</h5>
                                <ul class="list-link">
                                    <li><a href="#">Web & Mobile Apps</a></li>
                                    <li><a href="#">Website Hosting</a></li>
                                    <li><a href="#">Big Data</a></li>
                                    <li><a href="#">Managed Services</a></li>
                                    <li><a href="#">Business Solutions</a></li>
                                    <li><a href="#">Research Program</a></li>
                                    <li><a href="#">Currents Research</a></li>
                                    <li><a href="#">Open Source</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Solutions</h5>
                                <ul class="list-link">
                                    <li><a href="#">Get Support</a></li>
                                    <li><a href="#">Trouble Signing In?</a></li>
                                    <li><a href="#">Sales</a></li>
                                    <li><a href="#">Report Abuse</a></li>
                                    <li><a href="#">System Status</a></li>
                                </ul><br>
                                <a href="contact.html" class="quote-btn theme-btn"><span class="icon far fa-comments"></span> Get A Quote</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="row clearfix">
                        
                        <!-- Social Column -->
                        <div class="social-column col-lg-6 col-md-6 col-sm-12">
                            <ul>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-behance"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                        
                        <!-- Copyright Column -->
                        <div class="copyright-column col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright">Design By <a href="#">dsdqsdq</a></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</footer>



<!-- End Main Footer -->
