<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="banner-section">
		<div class="image-layer" style="background-image:url(images/background/pattern-1.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="icon-layer" style="background-image:url(images/icons/icon-1.png)"></div>
						<div class="title">Needs of small mid-level enterprises.</div>
						<h1>Meet With <br> <span>POS</span> Systems & <span>Management</span></h1>
						<div class="text">Get installed new inventory management & POS systems, <br> customized for hypermarkets, boutique stores.</div>
						<!-- Subscribe Form -->
						<div class="subscribe-form">
							<form method="post" action="https://html.themexriver.com/osaas/contact.html">
								<div class="form-group">
									<input type="email" name="email" value="" placeholder="Enter your email address" required>
									<button type="submit" class="theme-btn btn-style-one"><span class="txt">Get For 7 Day Trail</span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="images/resource/banner-1.png" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
			
		<!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".featured-section">
			<div class="chevron"></div>
			<div class="chevron"></div>
			<div class="chevron"></div>
		</div>
		
	</section>
</body>
</html>

<router-outlet></router-outlet>