<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;family=Ubuntu:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
	<script src="../../assets/js"></script>
    <title>Document</title>
</head>
<body>

	<div class="page-wrapper">
 	
		<!-- Preloader -->
		<div class="preloader"></div>


    <section class="banner-section">
		<div class="image-layer" style="background-image:url('assets/background/pattern-1.png')"></div>
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="icon-layer" style="background-image:url('images/icons/icon-1.png')"></div>
						<div class="title">Needs of small mid-level enterprises.</div>
						<h1>Meet With <br> <span>POS</span> Systems & <span>Management</span></h1>
						<div class="text">Get installed new inventory management & POS systems, <br> customized for hypermarkets, boutique stores.</div>
						<!-- Subscribe Form -->
						<div class="subscribe-form">
							<form method="post" action="https://html.themexriver.com/osaas/contact.html">
								<div class="form-group">
									<input type="email" name="email" value="" placeholder="Enter your email address" required>
									<button type="submit" class="theme-btn btn-style-one"><span class="txt">Get For 7 Day Trail</span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="assets/background/banner-1.png" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
			
		<!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".featured-section">
			<div class="chevron"></div>
			<div class="chevron"></div>
			<div class="chevron"></div>
		</div>
		
	</section>

<!-- Featured Section -->
<section class="featured-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Core Features</div>
			<h1>Track Customer, Sales & <br><span>Order Booking</span></h1>
		</div>
	</div>
	<div class="outer-container">
		<div class="featured-carousel owl-carousel owl-theme">
			
			<!-- Feature Block -->
			<div class="feature-block">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-calculator"></span>
					</div>
					<h2><a href="#">Year Calculation <span> & Profit / Share</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-two">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-cloud"></span>
					</div>
					<h2><a href="#">Cloud System & <span> Data Service</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-three">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-chart-line"></span>
					</div>
					<h2><a href="#">Customers Bill <span> & Money Recipet</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-four">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-check-square"></span>
					</div>
					<h2><a href="#">Scan Product <span> Price & Checkout</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-five">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-caret-square-down"></span>
					</div>
					<h2><a href="#">Product History <span> Data Collect</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-six">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-compress"></span>
					</div>
					<h2><a href="#">Prouct Value & <span> Data Process</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
		</div>
		
		<!-- Button Box -->
		<div class="button-box text-center">
			<a href="#" class="theme-btn btn-style-two"><span class="txt"><i class="fab fa-windows"></i> PC Version</span></a>
			<a href="#" class="theme-btn btn-style-three"><span class="txt"><i class="fab fa-apple"></i> iOs Version</span></a>
		</div>
		
	</div>
</section>
<!-- End Featured Section -->

<!-- Clients Section -->
<section class="clients-section">
	<div class="auto-container">
		
		<div class="sponsors-outer">
			<!--Sponsors Carousel-->
			<ul class="sponsors-carousel owl-carousel owl-theme">
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/1.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/2.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/3.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/4.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/5.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/1.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/2.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/3.png" alt=""></a></figure></li>
			</ul>
		</div>
		
	</div>
</section>
<!-- End Clients Section -->

<!-- Platform Intro Section -->
<section class="platform-intro-section">
	<div class="auto-container">
		
		<!-- Platform Tabs -->
		<div class="platform-tabs tabs-box">
			<div class="row clearfix">
				<!--Column-->
				<div class="buttons-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<!--Tab Btns-->
						<ul class="tab-btns tab-buttons clearfix">
							<li data-tab="#prod-intro" class="tab-btn"><span>Intro & Product Production</span></li>
							<li data-tab="#prod-about" class="tab-btn active-btn"><span>About Product</span></li>
							<li data-tab="#prod-product" class="tab-btn"><span>Intro & Product Production</span></li>
							<li data-tab="#prod-production" class="tab-btn"><span>Intro & Product Production</span></li>
						</ul>
					</div>
				</div>
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<!--Tabs Container-->
						<div class="tabs-content">
						
							<!--Tab / Active Tab-->
							<div class="tab" id="prod-intro">
								<div class="content">
									<div class="platform-tab-content">
										<div class="inner-content">
											<span class="big-icon"><img src="images/icons/platform-icon-1.png" alt="" /></span>
											<div class="icon-outer">
												<div class="circles-layer"></div>
												<div class="icon-box">
													<span class="icon"><img src="images/icons/platform-icon.png" alt="" /></span>
												</div>
											</div>
											<!-- Sec Title -->
											<div class="sec-title">
												<div class="title">Intro & Product Production</div>
												<h1>Take Your Users <span>In One Platform.</span></h1>
											</div>
											<div class="text">The <span>Data Transfer Project</span> was launched in <span>2020</span> to create an open-source, service-to-service data portability platform so that all individuals across the web could easily move their data between <span>online service</span> providers whenever they want. </div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Tab -->
							<div class="tab active-tab" id="prod-about">
								<div class="content">
									<div class="platform-tab-content">
										<div class="inner-content">
											<span class="big-icon"><img src="images/icons/platform-icon-1.png" alt="" /></span>
											<div class="icon-outer">
												<div class="circles-layer"></div>
												<div class="icon-box">
													<span class="icon"><img src="images/icons/platform-icon.png" alt="" /></span>
												</div>
											</div>
											<!-- Sec Title -->
											<div class="sec-title">
												<div class="title">About This Software</div>
												<h1>Take Your Users <span>In One Platform.</span></h1>
											</div>
											<div class="text">The <span>Data Transfer Project</span> was launched in <span>2020</span> to create an open-source, service-to-service data portability platform so that all individuals across the web could easily move their data between <span>online service</span> providers whenever they want. </div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Tab -->
							<div class="tab" id="prod-product">
								<div class="content">
									<div class="platform-tab-content">
										<div class="inner-content">
											<span class="big-icon"><img src="images/icons/platform-icon-1.png" alt="" /></span>
											<div class="icon-outer">
												<div class="circles-layer"></div>
												<div class="icon-box">
													<span class="icon"><img src="images/icons/platform-icon.png" alt="" /></span>
												</div>
											</div>
											<!-- Sec Title -->
											<div class="sec-title">
												<div class="title">Intro & Product Production</div>
												<h1>Take Your Users <span>In One Platform.</span></h1>
											</div>
											<div class="text">The <span>Data Transfer Project</span> was launched in <span>2020</span> to create an open-source, service-to-service data portability platform so that all individuals across the web could easily move their data between <span>online service</span> providers whenever they want. </div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Tab -->
							<div class="tab" id="prod-production">
								<div class="content">
									<div class="platform-tab-content">
										<div class="inner-content">
											<span class="big-icon"><img src="images/icons/platform-icon-1.png" alt="" /></span>
											<div class="icon-outer">
												<div class="circles-layer"></div>
												<div class="icon-box">
													<span class="icon"><img src="images/icons/platform-icon.png" alt="" /></span>
												</div>
											</div>
											<!-- Sec Title -->
											<div class="sec-title">
												<div class="title">Intro & Product Production</div>
												<h1>Take Your Users <span>In One Platform.</span></h1>
											</div>
											<div class="text">The <span>Data Transfer Project</span> was launched in <span>2020</span> to create an open-source, service-to-service data portability platform so that all individuals across the web could easily move their data between <span>online service</span> providers whenever they want. </div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</section>
<!-- End Platform Intro Section -->

<!-- Counter Section -->
<section class="counter-section" style="background-image: url(images/background/pattern-2.png)">
	<div class="auto-container">
		<div class="section-icon">
			<span class="icon flaticon-internet-1"></span>
		</div>
		<!-- Sec Title -->
		<div class="sec-title light centered">
			<div class="title">Counter</div>
			<h1>We’re The Best Software Agency <span>In New York, US</span></h1>
		</div>
		
		<!-- Fact Counter -->
		<div class="fact-counter">
			<div class="row clearfix">

				<!-- Column -->
				<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
					<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="content">
							<div class="count-outer count-box">
								<span class="count-text" data-speed="3000" data-stop="10">0</span>K<i>+</i>
							</div>
							<h4 class="counter-title">Happy Users</h4>
						</div>
					</div>
				</div>

				<!-- Column -->
				<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
					<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="content">
							<div class="count-outer count-box alternate">
								<span class="count-text" data-speed="3000" data-stop="5">0</span>K<i>+</i>
							</div>
							<h4 class="counter-title">Active Install</h4>
						</div>
					</div>
				</div>

				<!-- Column -->
				<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
					<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="content">
							<div class="count-outer count-box">
								<span class="count-text" data-speed="2000" data-stop="1">0</span>K<i>+</i>
							</div>
							<h4 class="counter-title">Team Mate</h4>
						</div>
					</div>
				</div>

				<!-- Column -->
				<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
					<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
						<div class="content">
							<div class="count-outer count-box">
								<span class="count-text" data-speed="3000" data-stop="3">0</span>K<i>+</i>
							</div>
							<h4 class="counter-title">Global Presence</h4>
						</div>
					</div>
				</div>

			</div>
		</div>
		
	</div>
</section>
<!-- End Counter Section -->

<section class="partners-section">
	<div class="auto-container">
		<div class="row clearfix">
			
			<!-- Image Column -->
			<div class="image-column col-lg-4 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="image">
						<img src="assets/clients/partner-1.jpg" alt="" />
					</div>
				</div>
			</div>
			
			<!-- Content Column -->
			<div class="content-column col-lg-8 col-md-12 col-sm-12">
				<div class="inner-column">
					<!-- Partners Info Tabs -->
					<div class="partners-info-tabs">
						<!-- Partners Tabs -->
						<div class="partners-tabs tabs-box">
							
							<!--Tabs Container-->
							<div class="tabs-content">
								
								<!-- Tab / Active Tab -->
								<div class="tab active-tab" id="prod-author-1">
									<div class="text">“ We looked into some other online software platforms, but they didn’t give us the quality software & support... ”</div>
								</div>
								
								<!-- Tab -->
								<div class="tab" id="prod-author-2">
									<div class="text">“ We looked into some other online software platforms, but they didn’t give us the quality software & support... ”</div>
								</div>
								
								<!-- Tab -->
								<div class="tab" id="prod-author-3">
									<div class="text">“ We looked into some other online software platforms, but they didn’t give us the quality software & support... ”</div>
								</div>
								
							</div>
							
							<!--Tab Btns-->
							<ul class="tab-btns tab-buttons clearfix">
								<li data-tab="#prod-author-1" class="tab-btn active-btn">
									Ethen H. Hunt
									<span>CEO of Mirax Shop & Clothing</span>
								</li>
								<li data-tab="#prod-author-2" class="tab-btn">
									Miranda B. Bali
									<span>Founder of Kilix Co.</span>
								</li>
								<li data-tab="#prod-author-3" class="tab-btn">
									Yoronada Y. Ko
									<span>Founder of Yko Co.</span>
								</li>
							</ul>
							
						</div>
					</div>
					
					
					
				</div>
			</div>
			
		</div>
	</div>
</section>



<!-- Blog Section -->
	<section class="blog-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<div class="title">Blog</div>
				<h1>Get Every Single Update<br><span>From Here.</span></h1>
			</div>
			<div class="inner-container">
				<div class="circle-one"></div>
				<div class="circle-two"></div>
				<div class="row clearfix">
					
					<!-- News Block -->
					<div class="news-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="category">Software</div>
							<h5><a href="blog-detail.html">All these data frstate the user and leads.</a></h5>
							<div class="text">Too much data and forcing the brain to accommodate all these data fru the user and leads them.</div>
							<ul class="post-meta">
								<li><span class="icon far fa-user"></span>By Admin</li>
								<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
							</ul>
						</div>
					</div>
					
					<!-- News Block -->
					<div class="news-block col-lg-3 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="category">Saas</div>
							<h5><a href="blog-detail.html">All these data frstate the user and leads.</a></h5>
							<div class="text">Too much data and forcing the brain to accommodate all these data fru the user and leads them.</div>
							<ul class="post-meta">
								<li><span class="icon far fa-user"></span>By Admin</li>
								<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
							</ul>
						</div>
					</div>
					
					<!-- News Block -->
					<div class="news-block col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="category">Business</div>
							<h5><a href="blog-detail.html">Consider we have two screens of the mobile app, the first screen has some instructions</a></h5>
							<div class="text">Too much data and forcing the brain to accommodate all these data frustrate the user and leads them to abandon the task. The short term memory of our brain has limitations.</div>
							<ul class="post-meta">
								<li><span class="icon far fa-user"></span>By Admin</li>
								<li><span class="icon far fa-calendar-alt"></span>24th Mar 2020</li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Blog Section -->

</div>
</body>
</html>

<router-outlet></router-outlet>