<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;family=Ubuntu:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="banner-section">
		<div class="image-layer" style="background-image:url('assets/background/pattern-1.png')"></div>
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="icon-layer" style="background-image:url('images/icons/icon-1.png')"></div>
						<div class="title">Needs of small mid-level enterprises.</div>
						<h1>Meet With <br> <span>POS</span> Systems & <span>Management</span></h1>
						<div class="text">Get installed new inventory management & POS systems, <br> customized for hypermarkets, boutique stores.</div>
						<!-- Subscribe Form -->
						<div class="subscribe-form">
							<form method="post" action="https://html.themexriver.com/osaas/contact.html">
								<div class="form-group">
									<input type="email" name="email" value="" placeholder="Enter your email address" required>
									<button type="submit" class="theme-btn btn-style-one"><span class="txt">Get For 7 Day Trail</span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="assets/background/banner-1.png" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
			
		<!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".featured-section">
			<div class="chevron"></div>
			<div class="chevron"></div>
			<div class="chevron"></div>
		</div>
		
	</section>

<!-- Featured Section -->
<section class="featured-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<div class="title">Core Features</div>
			<h1>Track Customer, Sales & <br><span>Order Booking</span></h1>
		</div>
	</div>
	<div class="outer-container">
		<div class="featured-carousel owl-carousel owl-theme">
			
			<!-- Feature Block -->
			<div class="feature-block">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-calculator"></span>
					</div>
					<h2><a href="#">Year Calculation <span> & Profit / Share</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-two">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-cloud"></span>
					</div>
					<h2><a href="#">Cloud System & <span> Data Service</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-three">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-chart-line"></span>
					</div>
					<h2><a href="#">Customers Bill <span> & Money Recipet</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-four">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-check-square"></span>
					</div>
					<h2><a href="#">Scan Product <span> Price & Checkout</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-five">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-caret-square-down"></span>
					</div>
					<h2><a href="#">Product History <span> Data Collect</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
			<!-- Feature Block -->
			<div class="feature-block color-six">
				<div class="inner-box">
					<div class="circle-one"></div>
					<div class="circle-two"></div>
					<div class="icon-box">
						<span class="icon fas fa-compress"></span>
					</div>
					<h2><a href="#">Prouct Value & <span> Data Process</span></a></h2>
					<div class="text">The contributors to the Data Transfer Project believe portability and interoperability are central to innovation.</div>
				</div>
			</div>
			
		</div>
		
		<!-- Button Box -->
		<div class="button-box text-center">
			<a href="#" class="theme-btn btn-style-two"><span class="txt"><i class="fab fa-windows"></i> PC Version</span></a>
			<a href="#" class="theme-btn btn-style-three"><span class="txt"><i class="fab fa-apple"></i> iOs Version</span></a>
		</div>
		
	</div>
</section>
<!-- End Featured Section -->

<!-- Clients Section -->
<section class="clients-section">
	<div class="auto-container">
		
		<div class="sponsors-outer">
			<!--Sponsors Carousel-->
			<ul class="sponsors-carousel owl-carousel owl-theme">
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/1.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/2.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/3.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/4.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/5.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/1.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/2.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/clients/3.png" alt=""></a></figure></li>
			</ul>
		</div>
		
	</div>
</section>
<!-- End Clients Section -->

<!-- Platform Intro Section -->
<section class="platform-intro-section">
	<div class="auto-container">
		
		<!-- Platform Tabs -->
		<div class="platform-tabs tabs-box">
			<div class="row clearfix">
				<!--Column-->
				<div class="buttons-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<!--Tab Btns-->
						<ul class="tab-btns tab-buttons clearfix">
							<li data-tab="#prod-intro" class="tab-btn"><span>Intro & Product Production</span></li>
							<li data-tab="#prod-about" class="tab-btn active-btn"><span>About Product</span></li>
							<li data-tab="#prod-product" class="tab-btn"><span>Intro & Product Production</span></li>
							<li data-tab="#prod-production" class="tab-btn"><span>Intro & Product Production</span></li>
						</ul>
					</div>
				</div>
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<!--Tabs Container-->
						<div class="tabs-content">
						
							<!--Tab / Active Tab-->
							<div class="tab" id="prod-intro">
								<div class="content">
									<div class="platform-tab-content">
										<div class="inner-content">
											<span class="big-icon"><img src="images/icons/platform-icon-1.png" alt="" /></span>
											<div class="icon-outer">
												<div class="circles-layer"></div>
												<div class="icon-box">
													<span class="icon"><img src="images/icons/platform-icon.png" alt="" /></span>
												</div>
											</div>
											<!-- Sec Title -->
											<div class="sec-title">
												<div class="title">Intro & Product Production</div>
												<h1>Take Your Users <span>In One Platform.</span></h1>
											</div>
											<div class="text">The <span>Data Transfer Project</span> was launched in <span>2020</span> to create an open-source, service-to-service data portability platform so that all individuals across the web could easily move their data between <span>online service</span> providers whenever they want. </div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Tab -->
							<div class="tab active-tab" id="prod-about">
								<div class="content">
									<div class="platform-tab-content">
										<div class="inner-content">
											<span class="big-icon"><img src="images/icons/platform-icon-1.png" alt="" /></span>
											<div class="icon-outer">
												<div class="circles-layer"></div>
												<div class="icon-box">
													<span class="icon"><img src="images/icons/platform-icon.png" alt="" /></span>
												</div>
											</div>
											<!-- Sec Title -->
											<div class="sec-title">
												<div class="title">About This Software</div>
												<h1>Take Your Users <span>In One Platform.</span></h1>
											</div>
											<div class="text">The <span>Data Transfer Project</span> was launched in <span>2020</span> to create an open-source, service-to-service data portability platform so that all individuals across the web could easily move their data between <span>online service</span> providers whenever they want. </div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Tab -->
							<div class="tab" id="prod-product">
								<div class="content">
									<div class="platform-tab-content">
										<div class="inner-content">
											<span class="big-icon"><img src="images/icons/platform-icon-1.png" alt="" /></span>
											<div class="icon-outer">
												<div class="circles-layer"></div>
												<div class="icon-box">
													<span class="icon"><img src="images/icons/platform-icon.png" alt="" /></span>
												</div>
											</div>
											<!-- Sec Title -->
											<div class="sec-title">
												<div class="title">Intro & Product Production</div>
												<h1>Take Your Users <span>In One Platform.</span></h1>
											</div>
											<div class="text">The <span>Data Transfer Project</span> was launched in <span>2020</span> to create an open-source, service-to-service data portability platform so that all individuals across the web could easily move their data between <span>online service</span> providers whenever they want. </div>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Tab -->
							<div class="tab" id="prod-production">
								<div class="content">
									<div class="platform-tab-content">
										<div class="inner-content">
											<span class="big-icon"><img src="images/icons/platform-icon-1.png" alt="" /></span>
											<div class="icon-outer">
												<div class="circles-layer"></div>
												<div class="icon-box">
													<span class="icon"><img src="images/icons/platform-icon.png" alt="" /></span>
												</div>
											</div>
											<!-- Sec Title -->
											<div class="sec-title">
												<div class="title">Intro & Product Production</div>
												<h1>Take Your Users <span>In One Platform.</span></h1>
											</div>
											<div class="text">The <span>Data Transfer Project</span> was launched in <span>2020</span> to create an open-source, service-to-service data portability platform so that all individuals across the web could easily move their data between <span>online service</span> providers whenever they want. </div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</section>
<!-- End Platform Intro Section -->

</body>
</html>

<router-outlet></router-outlet>